.accesibilityGrid > h1 {
  justify-self: center;
  justify-content: center;
}
.accesibilityGrid > p{
  width: 100%;
  margin: auto;
  padding-top: min(5%, 5rem);
}

.bildeboks{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-self: center;

}
.bildeboks > img{
  border-radius: 5px 5px 0 0;
  padding-bottom: 0;
  max-width: 100%;

}

.bildeboks > figcaption{
  padding-left: auto;
  padding-right: auto;
  padding:  1rem;
  background-color: rgb(46,46,46, 0.8);
  color: var(--clr-beige);
  border-radius: 0 0 5px 5px;
}



.accesibilityGrid{
  display:grid;
  gap: 1rem;
  margin-top: 2rem;
  grid-template-columns: 1fr;
  max-width: 90%;
  justify-content: center;
  margin:auto;
}
.accesibilityGrid > p{
  padding: 1rem 2rem;
  text-align: left;
  max-width: 90%;
}

@media (min-width: 700px) {
  .accesibilityGrid{
    grid-template-columns: 1fr 1fr;
  }
  .col-span-2{
    grid-column: span 2;
  }
  .row-span-2{
    grid-row: span 2;
  }
}

.bildecap{
  padding-top: 2rem;
  display: block;
}