

.tekstboks{
  display: flex;
  flex-direction: column;
  padding: max(1vh, 1rem);
  justify-content: center;
}
h1 {
  font-size: 3rem;
}
.tekstboks > h2{
  padding-top: 2%;
  justify-content: center;
  text-align: center;
}
.tekstboks > p{

  padding: 1rem 2rem;
  width: 55ch;
  margin:auto;
}

.bildeboks{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 100%;
  justify-content: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 95%;
}
.bildeboks > img{
  border-radius: 5px 5px 0 0;
  padding-bottom: 0;

}
.bildecontainer > figcaption{
  padding-left: auto;
  padding-right: auto;
  padding:  1rem;
  background-color: rgb(46,46,46, 0.8);
  color: var(--clr-beige);
  border-radius: 0 0 5px 5px;
}



.accesibilityGrid{
  display:grid;
  gap: 8px;
  width: fit-content;
  padding-left: 1fr;
  padding-right: 1fr;
  margin-top: 2rem;
  grid-template-columns: 1fr;
  border-radius: 2px ;
  overflow-wrap:normal;
  margin-inline: auto;
 
}
.accesibilityGrid > p{
  /* color: rgb(225, 215, 196);*/
   padding: 1rem 2rem;
   text-align: left;
   max-width: 90%;
}

@media (min-width: 700px) {
  .accesibilityGrid{
    grid-template-columns: 1fr 1fr;
    max-width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .col-span-2{
    grid-column: span 2;
    max-width: 90%;
  }
  .row-span-2{
    grid-row: span 2;
  }
}

.bildecap{
  padding-top: 2rem;
  display: block;
}