
/* Bruker BEM som navnstandard, https://getbem.com/naming/*/
/* Using BEM as naming-standard, https://getbem.com/naming/*/

h1{
  text-align: center;
  padding-bottom: 2rem;
}

video{
  height: 200px;
}
@media (max-width:400px) {
  video{
    max-width: 100%;
  }
}

hr{
  margin: 2rem;
  opacity: 40%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
}
.container--wrapReverse{
  flex-wrap: wrap-reverse;
}
.container__photo,
.container__body{
  flex: 1 1 400px;
  max-height: 300px;
}
.container__photo{
  margin: auto 0;
  overflow: hidden;
  padding: 1rem;
}
.photo__img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
  
}
.photo__img--cover{
  object-fit: cover;
  max-height: 310px;
}
.photo__img--pos{
  object-position: 0px -20px;
}
.container__photo--big{
  flex: 1 1 100%;
  
}
.container__header{
  padding-bottom: 1rem;
}