h1 {
  text-align: center;
}
hr {
  margin: 15px 0 15px 0;
  border-color: rgba(0, 0, 0, 40%);
}

/* ------- NAVIGASJONSBAR ------- */

.nav-bar {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px 0 20px 0;
}
.nav-bar__link {
  width: 1fr;
  margin: auto;
  border: none;
  height: 25px;
  background-color: var(--clr-bakgrunn);
}
.nav-bar__link > p {
  font-size: 2rem;
  text-decoration: underline;
  transition: color 0.15s;
  font-weight: 700;
}
.nav-bar__link > p:hover {
  color: var(--clr-rød);
  cursor: pointer;
}
.nav-bar__link > p:active {
  color: var(--clr-rød__activate);
}
@media (max-width: 600px){
  .nav-bar {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding: 0px;
  }
}

/* ------- MAIN ------- */

.retter-wrapper{
  margin: auto;
  padding: 40px 15px 1px 15px;
  width: min(1000px,90%);
}

/* ------- RETTER HEADER ------- */

.retter-header {
  width: 1fr;
  background-color: var(--clr-rød);
  height: 65px;
  text-align: center;
  border-radius: 5px;
}
.retter-header > h2 {
  line-height: 65px;
  vertical-align: middle;
  font-size: 3rem;
  color: var(--clr-knapper)
}

/* ------- RETTER CONTAINER ------- */


.retter-container {
  width: 1fr;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 200px;
}
.retter-container__info > h3 {
  width: 1fr;
  height: auto;
  font-size: 2.5rem;
  margin-bottom: 10px;
  padding: 10px 10px 0 2px;
}
.retter-container__info > p:nth-child(2) {
  width: 1fr;
  height: auto;
  padding: 10px 10px 0 2px;
}

.retter-container__info > p:nth-child(3) {
  width: 1fr;
  height: auto;
  font-style: italic;
  padding: 60px 10px 10px 2px;
}
.retter-container__bilde {
  align-items: center;
  padding: auto;
  margin: auto;
  display: flex;
}
.retter-container__bilde > img {
  object-fit: cover;
  max-width:96%;
  max-height:96%;
  border-radius: 5px;
  margin: 2px;
  border: solid;
}
@media (max-width: 400px){
  .retter-container {
    grid-template-columns: 1fr;
  }
  .retter-container__info > h1 {
    width: min(400px,90%);
  }
  .retter-container__info > p:nth-child(2) {
    width: min(400px,90%);
  }
  .retter-container__info > p:nth-child(3) {
    width: min(400px,90%);
  }
}


