p{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
}



.navigasjon-bar-div{
  background-color: rgb(21, 21, 21);
  width: auto;
  height: auto;
  display: grid;
  padding-left: 100px;
  padding-right: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 600px){
  .navigasjon-bar-div {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding: 0px;
  }
}

.navigasjon-bar-button-div {
  background-color: rgb(21, 21, 21);
  height: auto;
  width: 1fr;
  margin: auto;
}
.navigasjon-bar-anchor {
  width: 1fr;
}
.navigasjon-bar-button {
  border: none;
  padding: 0px;
  height: 25px;
  width: 1fr;
  background-color: rgb(21, 21, 21);
  color: rgb(225, 215, 196);
  transition: color 0.15s;
}
.navigasjon-bar-button:hover {
  border: none;
  padding: 0px;
  height: 25px;
  width: 1fr;
  background-color: rgb(21, 21, 21);
  color: rgb(202, 67, 25);
  cursor: pointer;
}
.navigasjon-bar-button:active {
  border: none;
  padding: 0px;
  height: 25px;
  width: 1fr;
  background-color: black;
  color: rgb(241, 129, 95);
}
.navigasjon-bar-text {
  font-size: 20px;
}


.retter-div{
  background-color: rgb(208, 207, 207);
  padding-bottom: 1px;
  margin: auto;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border-radius: 5px;
  width: min(1000px,90%);
}


.retter-header-div {
  width: 1fr;
  background-color: rgb(158, 150, 135);
  height: 80px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 5px;
}
.retter-header-div:focus {
  background-color: red;
}
.retter-header {
  padding-top: 20px;
}



.retter-tab-div {
  width: 1fr;
  background-color: rgb(255, 255, 255);
  height: auto;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 180px;
  border-radius: 5px;
}
@media (max-width: 400px){
  .retter-tab-div {
    grid-template-columns: 1fr;
  }
  .retter-tab-text-header-div {
    width: min(400px,90%);
  }
  .retter-tab-text-beskrivelse-div {
    width: min(400px,90%);
  }
  .retter-tab-text-alergener-div {
    width: min(400px,90%);
  }

}
.retter-tab-text-div {
  position: relative;
}
.retter-tab-text-header-div {
  width: 1fr;
  padding-right: 10px;
  height: auto;
  /*background-color: blueviolet;*/
  
}
.retter-tab-text-header {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 10px;
}
.retter-tab-text-beskrivelse-div {
  /*background-color: rgb(166, 94, 233);*/
  width: 1fr;
  padding-right: 10px;
  height: auto;
}
.retter-tab-text-beskrivelse{
  padding-top: 10px;
  padding-left: 15px;
  font-size: 20px;
}
.retter-tab-text-alergener-div {
  /*background-color: rgb(185, 149, 218);*/
  width: 1fr;
  padding-right: 10px;
  height: auto;
}
.retter-tab-text-alergener {
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 10px;
  font-size: 20px;
  font-style: italic;
}

.retter-tab-img-div {
  /*background-color: aquamarine;*/
  align-items: center;
  padding: auto;
  display: flex;
}
.retter-tab-img{
  object-fit: cover;
  max-width:96%;
  max-height:96%;
  border-radius: 5px;
  margin: 2px;
  border: solid;
}
