.HeaderBotBox {
  text-align: center;
  color: rgb(202, 67, 25);
  font-weight: bold;
  background-color: rgb(21, 21, 21);
  padding-top: 40px;
  padding-bottom: 40px;
}

.BotIntroBox {
  background-color:rgb(225, 215, 196);
  color:rgb(21, 21, 21);
  text-align: center;
}

.HeaderButtonsBox {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  padding-left: min(100px, 95%);
  padding-right: min(100px, 95%);
  background-color: rgb(21, 21, 21);
 
}

@media (min-width:350px) {
  .HeaderButtonsBox {
    grid-template-columns:repeat(2, 1fr);
  }
}

@media (min-width:580px) {
  .HeaderButtonsBox {
    grid-template-columns:repeat(5, 1fr);
  }
}

.HeaderButtons {
  background-color: rgb(21, 21, 21);
  color:rgb(225, 215, 196);
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.HeaderButtons:hover {
  color: rgb(202, 67, 25);
}
 
.HeaderButtons:active {
 color: rgb(241, 129, 95);
}

/*--------- Footer-------- */

.footerWrapper{
  position: absolute;
  bottom: 0px;
  height: 300px;
  right: 0px;
  left: 0px;
  background-color: rgb(21, 21, 21);
  overflow: auto;
}