

.BotIntroBox {
  background-color:rgb(225, 215, 196);
  color:rgb(21, 21, 21);
  text-align: center;
}

.IntroBox {
  background-color: rgb(225, 215, 196);
  color:rgb(21, 21, 21);
  text-align: left;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: min(20px, 95%);
  padding-bottom: min(20px, 95%);
}

.Introparagraph {
  margin-bottom: 20px;
  line-height: 1.5;
}

