:root{
  --clr-header: linear-gradient( 30deg, rgb(0, 0, 0) 0%, rgb(80, 80, 80) 100%);
  --clr-bakgrunn: rgb(255, 250, 240);
  --clr-footer: rgb(21, 21, 21);
  --clr-overskrift: rgb(0, 0, 0);
  --clr-tekst: rgb(46, 46, 46);
  --clr-knapper: rgb(255, 255, 255);
  --clr-boocking__card: rgb(255, 253, 248);

  --clr-grå: rgb(46,46,46);
  --clr-beige: rgb(225, 215, 196);
  --clr-rød: rgb(202, 67, 25);
  --clr-rød__hover: rgb(223, 109, 70);
  --clr-rød__activate: rgb(241, 129, 95);

  --shadow-box: -5px 5px 20px 0px rgba(0, 0, 0, 0.596);
}

:is(h3, h2, h1) {
  color: var(--clr-overskrift);
}
:is(p, a, li) {
  color: var(--clr-tekst);
}

@media (prefers-color-scheme: dark){ /*---Endre fargen hvis i darkmode---*/
  :root{
    --clr-header: linear-gradient( 30deg, rgb(0, 0, 0) 0%, rgb(32, 32, 32) 100%);
    --clr-bakgrunn: rgb(31, 31, 31);
    --clr-overskrift: rgb(255, 250, 240);
    --clr-tekst: rgb(225, 215, 196);
    --clr-knapper: rgb(255, 250, 240);
    --clr-boocking__card: rgb(26, 26, 26);
  }
}
main h1:after,
main h2:after{
  display: inline-block;
  content: "";
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--clr-rød);
  transform: translate(3px, 2px);
}
main a:hover{
  color: var(--clr-rød__hover);
}

p{
  padding-bottom: 1rem;
  line-height: 1.5em;
}
h1 {
  font-size: 4rem;
}


body, html {
  height: 100%;
}
body ::selection{
  background-color: rgb(202, 67, 25);
  color: whitesmoke;}

body{
  margin: 0px;
  position: relative;
  background-color: var(--clr-bakgrunn);
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 1.4rem;
  font-size: 62.5%;
}

.overskrift {
  color: var(--clr-overskrift);
  font-weight: bold;
}

main{
  margin: 0 auto;
  max-width: 1000px;
  flex: 1 0 auto;
  padding: 4rem 2rem 1rem 2rem;
}

.hr_opacity {
  opacity: 40%;
  margin-bottom: 1rem;
}

header{
  background: var(--clr-header);/*<--Header farge*/
  box-sizing: border-box;
}
footer {
  display: flex;
  flex-shrink: 0;
  background-color: var(--clr-footer); /*<--Footer farge*/
  justify-content: center;
  margin-top: 1em;
}

sup{
  font-size: 1.5rem;

}
@media (max-width: 319px) {
  main{
    padding: 1rem 0 1rem 0;
  }

}
