body{
  margin: 0px;
  position: relative;
  padding-bottom: 400px;
  padding-top: 218px;
  background-color: rgb(225, 215, 196);
}
* {
  margin: 0;
  padding: 0;
}
p{
  font-size: 20px;
}

html{
  scroll-behavior: smooth;
  scroll-padding: 14px;
}

.HeaderCenterButton {
  text-align: center;
}
