main{
  overflow-x: hidden;
}
.slide-venstre{
  transform: translateX(-100%);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 500ms ease-in;

}
.slide-høyre{
  transform: translateX(100%);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 500ms ease-in;
  
}
.slide-delay{
  transition-delay: 250ms;
}
.slide-venstre.appear,
.slide-høyre.appear {
  transform: translateX(0);
  opacity: 1;
}
