
/* Bruker BEM som navnstandard, https://getbem.com/naming/*/
/* Using BEM as naming-standard, https://getbem.com/naming/*/

.moveHeader{
  opacity: 0.6;
  transform: translateY(-80%);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
  position: absolute;
  inset: 0 0 auto 0;
  transition-delay: 1s;
}

.moveHeader:hover{
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.moveHeader .header__nav,
.moveHeader .header__logo{
  transform: translateY(-300%);
  transition: transform 500ms ease-in;
  transition-delay: 1s;
}
.moveHeader:hover .header__nav,
.moveHeader:hover .header__logo{
  transform: translateY(0%);
  transition: transform 500ms ease-in;
}
@media (min-width: 900px){
  .header__iconContainer{
    display: block;
    transform: translate(10px, 25px);
    opacity: 1;
    transition: opacity 500ms linear;
    transition-delay: 1s;
  }
  header:hover .header__iconContainer{
    opacity: 0;
    transition: opacity 200ms linear;
  }
}

body{
  overflow: hidden;
}



@media (hover: none){
  .articles__content{
    pointer-events: none;
  }
}
.articles{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
.articles--scroll >*{
  scroll-snap-align: start;
}
.articles__container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none;/* Hides scrollbar firefox */
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}
.articles__container::-webkit-scrollbar {/* Hides scrollbar chrome and edge */
  display: none;
}
.articles__container--img1{
  background-image: url("../img/topical-images/AI_rendition_of_machinelearning.png");
/*Digital illustrasjon laget ved hjelp av Midjourney AI, (Axelsen, 2022)*/
}

.articles__container--img2{
  background-image: url("../img/topical-images/Sosiale_medier_samfunn.png");
/*Digital illustrasjon laget ved hjelp av Midjourney AI, (Axelsen, 2022)*/
}
.articles__content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.articles__header{
  font-size: 4rem;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgb(0, 0, 0, 0.8);
}
.articles__text{
  max-width: 80ch;
  color: white;
  background-color: rgb(0, 0, 0, 0.9);
  border-radius: 10px;
  padding: 2rem;
}
.articles__link{
  color: white;
  text-decoration: none;
}
.articles__link:hover{
  color: var(--clr-rød__hover);
}

.referanser{
  background-color: rgb(0, 0, 0, 0.9);
  padding: 3ch;
  border-radius: 10px;
  max-width: 80ch;
  color: white;
}
.referanser__header{
  color: white;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
.referanser__list{
  color: white;
}
.referanser__list p{
  color: inherit;
}
