.bakgrunnDiv{
  background-color:rgb(225, 215, 196);
}

.topicalGrid{
  /*background-color: rgb(46,46,46);*/
  display:grid;
  gap: 8px;
  margin-left: max(5%, 2em);
  margin-top: 2em;
  margin-right: max(5%, 2em);
  grid-template-columns: 1fr;
}

.tekstBoksTopical {
  padding: max(1vh, 1rem);

}

@media (min-width:40em) {
  .topicalGrid{
    grid-template-columns: 1fr 1fr;
  }
}
.topicalGrid > figure{

max-width: 100ch;
}

.topicalGrid > figure > img{
  width: 100%;
}

.topicalGrid > p{
 /* color: rgb(225, 215, 196);*/
  padding: 1rem 2rem;
  text-align: left;
}
/*------------------------------------------*/


