.bildecontainer{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 100%;
  justify-self: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 95%;
}
.bildecontainer > img{
  border-radius: 5px 5px 0 0;
  padding-bottom: 0;

}


.bildecontainer > figcaption{
  padding-left: auto;
  padding-right: auto;
  padding:  1rem;
  background-color: rgb(46,46,46, 0.8);
  color: var(--clr-beige);
  border-radius: 0 0 5px 5px;
}
h1{
  text-align: center;
}

.topicalGrid{
  /*background-color: rgb(46,46,46);*/
  display:grid;
  gap: 8px;
  margin-top: 2em;
  grid-template-columns: 1fr 1fr;
  padding-left: auto;
  padding-right: auto;

}

.tekstBoksTopical {
  padding: max(1vh, 1rem);

}
  
.topicalGrid > p{
  max-width: 80%;
}
.col-span-2{
  grid-column: span 2;
}
.row-span-2{
  grid-row: span 2;
}

@media (max-width: 700px) {
  .topicalGrid{
    grid-template-columns: 1fr;
  }

  .col-span-2{
    grid-column: span 1;
  }
  .row-span-2{
    grid-row: span 1
  }
  .display-none-max-700px{
    display: none;
  }


}

.topicalGrid > figure > img{
  width: 100%;
}

.topicalGrid > p{
  padding: 1rem 2rem;
  text-align: left;
  max-width: 90%;
}
.topicalGrid > h2{
  justify-self: center;
  font-size: 3rem;
}

a{
  text-decoration: none;
  word-break: break-all;

}

.kildeliste{
  padding-left: 5rem;
  max-width: 80%;
  margin: auto;
}
.topicalGrid > ol > li{
  font-size: 1.6rem;
  max-width: 90%;
}
/*------------------------------------------*/


