h1{
  text-align: center;
  font-weight: bold;
  padding-bottom: 2rem;
}
.img{
  margin: auto 0;
  overflow: hidden;
  padding: 1rem;
}
.img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
  
}
video{
  height: 200px;
}
@media (max-width:400px) {
  video{
    max-width: 100%;
  }
}

hr{
  margin: 2rem;
  opacity: 40%;
}

.AccFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
}
.AccFlex.reverse{
  flex-wrap: wrap-reverse;
}
.AccFlex.big *{
  flex: 1 1 100%;
}
.AccFlex *{
  flex: 1 1 400px;
  max-height: 300px;
}
.AccFlex__text h2{
  /* text-align: center; */
  padding-bottom: 1rem;
  font-size: 3rem;
}
